[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "genodds"]
	path = genodds
	url = https://github.com/hannahjohns/genodds
[submodule "rankinPlot"]
	path = rankinPlot
	url = https://github.com/hannahjohns/rankinplot
